<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
		<server>
		  <id>MuleRepository</id>
		  <username>yourMuleNexusID</username>
		  <password>yourMuleNexusPassword</password>
		</server>
	    <server>
	      <id>anypoint-exchange-v3</id>
	      <username>myexchange</username>
	      <password>0209d120726a46928785e5584c7c20a8~?~99e03cd1443040fEaEA8557de99A3C4c</password>
	    </server>
	    <server>
	      <id>Repository</id>
	      <username>repository-mule</username>
	      <password>df57f299b67240f4a1414ab5f14b0cc3~?~0B6Ece4412fd40459d75f72a7cd527C8</password>
	    </server>
	    <server>
	      <id>PrivateExchangeRepository</id>
	      <username>myexchange</username>
	      <password>0209d120726a46928785e5584c7c20a8~?~99e03cd1443040fEaEA8557de99A3C4c</password>
	    </server>
  </servers>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>


   <profiles>
                <profile>
                    <id>cloudhub-deploy-env</id>
                    <properties>
                        <cloudhub.uri>https://anypoint.mulesoft.com</cloudhub.uri>
                        <cloudhub.username>$(cloudhub_username)</cloudhub.username>
                        <cloudhub.password>$(cloudhub_password)</cloudhub.password>
                        <cloudhub.applicationName>$(cloudhub_applicationName)</cloudhub.applicationName>
                        <cloudhub.environment>$(cloudhub_environment)</cloudhub.environment>
                        <cloudhub.businessGroup>$(cloudhub.businessGroup)</cloudhub.businessGroup>
                        <cloudhub.businessGroupId>$(cloudhub.businessGroupId)</cloudhub.businessGroupId>
                        <cloudhub.region>$(cloudhub_region)</cloudhub.region>
                        <cloudhub.workerType>$(cloudhub_workerType)</cloudhub.workerType>
                        <cloudhub.workers>$(cloudhub_workers)</cloudhub.workers>
                        <cloudhub.muleVersion>$(cloudhub_muleVersion)</cloudhub.muleVersion>
                        <deploy.env>$(deploy_env)</deploy.env>
                        <deploy.client_id>$(deploy_client_id)</deploy.client_id>
                        <deploy.client_secret>$(deploy_client_secret)</deploy.client_secret>
                        <deploy.api-gatekeeper>$(deploy_api_gatekeeper)</deploy.api-gatekeeper>
                        <deploy.api-monitoring>$(deploy_api_monitoring)</deploy.api-monitoring>
                    </properties>
                </profile>
 
    <profile>
      <id>mule-extra-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>mule-public</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

         <repository>
          <id>MuleRepositoryPublic</id>
          <name>MuleRepositoryPublic</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>         
      </repositories>

    </profile>
  </profiles>
</settings>
