<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
		<server>
		  <id>MuleRepository</id>
		  <username>yourMuleNexusID</username>
		  <password>yourMuleNexusPassword</password>
		</server>
	    <server>
	      <id>anypoint-exchange-v3</id>
	      <username>myexchange</username>
	      <password>0209d120726a46928785e5584c7c20a8~?~99e03cd1443040fEaEA8557de99A3C4c</password>
	    </server>
	    <server>
	      <id>Repository</id>
	      <username>repository-mule</username>
	      <password>df57f299b67240f4a1414ab5f14b0cc3~?~0B6Ece4412fd40459d75f72a7cd527C8</password>
	    </server>
	    <server>
	      <id>PrivateExchangeRepository</id>
	      <username>myexchange</username>
	      <password>0209d120726a46928785e5584c7c20a8~?~99e03cd1443040fEaEA8557de99A3C4c</password>
	    </server>
  </servers>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>


   <profiles>
                <profile>
                    <id>cloudhub-deploy-env</id>
                    <properties>
                        <cloudhub.uri>https://anypoint.mulesoft.com</cloudhub.uri>
                        <cloudhub.username>${env.cloudhub_username}</cloudhub.username>
                        <cloudhub.password>${env.cloudhub_password}</cloudhub.password>
                        <cloudhub.applicationName>${env.cloudhub_applicationName}</cloudhub.applicationName>
                        <cloudhub.environment>${env.cloudhub_environment}</cloudhub.environment>
                        <cloudhub.businessGroup>${env.cloudhub_businessGroup}</cloudhub.businessGroup>
                        <cloudhub.businessGroupId>${env.cloudhub_businessGroupId}</cloudhub.businessGroupId>
                        <cloudhub.region>${env.cloudhub_region}</cloudhub.region>
                        <cloudhub.workerType>${env.cloudhub_workerType}</cloudhub.workerType>
                        <cloudhub.workers>${env.cloudhub.workers}</cloudhub.workers>
                        <cloudhub.muleVersion>{env.cloudhub_muleVersion}</cloudhub.muleVersion>
                        <deploy.env>${env.deploy_env}</deploy.env>
                        <deploy.client_id>${env.deploy_client_id}</deploy.client_id>
                        <deploy.client_secret>${env.deploy_client_secret}</deploy.client_secret>
                        <deploy.api-gatekeeper>${env.deploy_api_gatekeeper}</deploy.api-gatekeeper>
                        <deploy.api-monitoring>${env.deploy_api_monitoring}</deploy.api-monitoring>
                    </properties>
                </profile>
 
    <profile>
      <id>mule-extra-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>mule-public</id>
          <url>http://repository.mulesoft.org/nexus/content/repositories/public</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url>http://repository.mulesoft.org/nexus/content/repositories/public</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
          <url>http://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>

         <repository>
          <id>MuleRepositoryPublic</id>
          <name>MuleRepositoryPublic</name>
          <url>http://repository.mulesoft.org/nexus/content/repositories/public</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>         
      </repositories>

    </profile>
  </profiles>
</settings>
